@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400");
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: #000 url(https://somascope.com/pics/sabri-tuzcu-182962-unsplash-1200.jpg) no-repeat center center fixed;
  background-size: cover;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

#app {
  box-sizing: border-box;
  background: linear-gradient(to bottom right, #108dc7, #ef8e38);
  box-shadow: 0 3px 30px 10px rgba(0, 0, 0, 0.4);
  color: #fff;
  position: relative;
  z-index: 2;
  width: 400px;
  margin: 50px auto 0;
  display: flex;
  flex-direction: column;
}

.header {
  background: rgba(0, 0, 0, 0.3);
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}

h1 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 6px;
  margin: 9px 0 4px 0;
  padding: 0;
}

h2,
h3 {
  margin: 6px 0;
}

h1,
h2,
h3,
p {
  font-weight: 300;
}

p {
  font-size: 1.1em;
  margin: 0;
}

input[type="number"] {
  border: 0;
  border-radius: 6px;
  font-size: 20px;
  margin-left: 8px;
  padding: 10px;
  text-align: center;
  width: 125px;
}

/* START layout framework */
.section {
  border-top: 2px solid rgba(0, 0, 0, 0.3);
}

.row {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  /* vertical centering */
  justify-content: space-between;
  width: 100%;
}

.row-end {
  justify-content: flex-end;
}

.row-center {
  justify-content: center;
}

/* END layout framework */
.amount {
  background: #111111;
  padding: 4px 8px;
}

.amountB {
  background: #1E88E5;
  border: 2px solid #fff;
  border-radius: 6px;
  font-size: 1.3em;
  line-height: 1.4;
  padding: 6px;
  text-align: center;
  width: 95px;
}

.pointer {
  cursor: pointer;
}

.split-answer {
  border-bottom: 1px dotted #fff;
  cursor: pointer;
  margin-left: 4px;
}

/* START slider */
.slidecontainer {
  width: 100%;
}

.slider {
  background: #111111;
  border: 4px solid #111111;
  border-radius: 25px;
  box-sizing: content-box;
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #1E88E5;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #1E88E5;
  cursor: pointer;
}

/* END slider */
/* START switch */
.switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 34px;
}

.switch > input {
  display: none;
}

.switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #111111;
  -webkit-transition: .2s;
  transition: .2s;
  border: 2px solid #fff;
}

.switch__slider:before {
  position: absolute;
  content: "";
  height: 23px;
  width: 23px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked + .switch__slider {
  background-color: #1E88E5;
  border: 2px solid #fff;
}

input:focus + .switch__slider {
  box-shadow: 0 0 1px #1E88E5;
  border: 2px solid #fff;
}

input:checked + .switch__slider:before {
  -webkit-transform: translateX(36px);
  -ms-transform: translateX(36px);
  transform: translateX(36px);
}

/* Rounded sliders */
.switch__slider.round {
  border-radius: 34px;
}

.switch__slider.round:before {
  border-radius: 50%;
}

/* END switch */
.photo-attribution {
  color: #eee;
  font-size: 14px;
  margin: 10px auto;
  text-align: center;
  transition: all 250ms;
}

.photo-attribution > span {
  cursor: default;
  margin-right: 4px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

/* Vue Transitions */
.fade-enter-active {
  transition: opacity .3s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

@media (max-width: 500px) {
  #app {
    box-shadow: none;
    margin: 0;
    width: 100%;
  }

  body {
    background-image: none;
  }

  .photo-attribution {
    display: none;
  }
}
