<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Tip Calculator</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>

  <div id="app">
  
  <header class="header">
    <h1>Tip Calculator</h1>
  </header>
  
  <main>

    <section class="section bill">
      <div class="row">
        <h2>Bill amount</h2>
        <input v-model="subtotal" type="number" maxlength="5">
      </div>
    </section>

    <section class="section tip">
      <div class="row">
        <h2>Tip how much?</h2>
        <span @click="resetTip" class="amountB pointer">{{ tipPercent }}%</span>
      </div>
      <div class="row">
        <input v-model="tipPercent" type="range" :min="tipMin" :max="tipMax" class="slider">
      </div>
      <div class="row">
        <p>The total tip is ${{ tipAmount | commas }}</p>
      </div>
    </section>
    
    <section class="section split-choice">
      <div class="row">
        <h2>Split the bill? <span class="split-answer" @click="splitShow = !splitShow">{{ splitLabel }}</span></h2>
        <label class="switch">
          <input type="checkbox" class="switch__checkbox" v-model="splitShow">
          <span class="switch__slider round"></span>
        </label>
      </div>
      
      <transition name="fade">
      <div class="row" v-show="splitShow">
        <h2>How many ways?</h2>
        <h2 @click="resetSplit" class="amountB pointer">{{ splitNumber }}</h2>
      </div>
      </transition>
      
      <div class="row" v-show="splitShow">
        <input v-model="splitNumber" type="range" :min="splitMin" :max="splitMax" class="slider">
      </div>
    </section>

    <section class="section total">
      <div class="row" v-show="!splitShow">
        <h2>You pay</h2>
        <h2 class="amount">${{ total | commas }}</h2>
      </div>
      
      <div class="row" v-show="splitShow">
        <h2>Each person pays</h2>
        <h2 class="amount">${{ splitResult | commas }}</h2>
      </div>
    </section>
    
  </main>
  
</div>

<div class="photo-attribution">
  <span>Photo attribution</span>
  <a style="background-color:black;color:#eee;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px;" href="https://unsplash.com/@sabrituzcu?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Sabri Tuzcu"><span style="display:inline-block;padding:2px 3px;"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;position:relative;vertical-align:middle;top:-1px;fill:white;" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M20.8 18.1c0 2.7-2.2 4.8-4.8 4.8s-4.8-2.1-4.8-4.8c0-2.7 2.2-4.8 4.8-4.8 2.7.1 4.8 2.2 4.8 4.8zm11.2-7.4v14.9c0 2.3-1.9 4.3-4.3 4.3h-23.4c-2.4 0-4.3-1.9-4.3-4.3v-15c0-2.3 1.9-4.3 4.3-4.3h3.7l.8-2.3c.4-1.1 1.7-2 2.9-2h8.6c1.2 0 2.5.9 2.9 2l.8 2.4h3.7c2.4 0 4.3 1.9 4.3 4.3zm-8.6 7.5c0-4.1-3.3-7.5-7.5-7.5-4.1 0-7.5 3.4-7.5 7.5s3.3 7.5 7.5 7.5c4.2-.1 7.5-3.4 7.5-7.5z"></path></svg></span><span style="display:inline-block;padding:2px 3px;">Sabri Tuzcu</span></a>
</div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
  <script src="js/index.js"></script>
</body>

</html>
